@import "https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic%7CNoto+Serif:400,400italic,700,700italic%7CDroid+Sans+Mono:400,700";
@import "https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

h1, h2, h3, h4, h5, h6, #toctitle,
.sidebarblock > .content > .title {
    font-family: 'Roboto', "Noto Serif", "DejaVu Serif", serif;
}
body {
    font-family: 'Roboto', "Noto Serif", "DejaVu Serif", serif;
}
